body {
    background-image: url(../ProjectImages/Homeintro.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    width: 110vh;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

.container {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px #b004ff;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

input, textarea, select, option {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    caret-color: #b004ff;
}

.btn {
    background-color: #b004ff;
    color: white;
    border-radius: 2em;
}

.btn:hover {
    background-color: white;
    border-radius: 2em;
    color: #b004ff;
}

.typingAni {
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 700;
    animation: typing 4s steps(40, end) forwards;
    border-right: 0.15em solid #b004ff;
    margin-left:15vh;
}
.top_Container{
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-template-areas: 
        "typipingAni"
        "container";
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; border-right: none; } /* Remove border-right after animation ends */
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}